/* TabComponent.css */
body {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .tab-container {
    width: 70%;
    margin: 2rem auto;
    padding: 0rem;
    background-color: #fff;
    color: #333;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .tabs {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    border-bottom: 1px solid #ddd;
  }
  
  .tab-button {
    flex: 1;
    padding: 20px; /* Increased padding */
    font-size: 1.2rem; /* Increased font size */
    cursor: pointer;
    background-color: #333;
    color: #ccc;
    border: none;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .tab-button:hover {
    background-color: #555;
  }
  
  .tab-button.active {
    background-color: #07587b;
    color: #fff;
  }
  
  .tab-content {
    padding: 2.8rem;
    background-color: #fff;
    color: #333;
    line-height: 190%;
  }
  
  .tab-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .tab-paragraph {
    color: #333;
  }
  
  /* Media query for mobile screens */
  @media (max-width: 768px) {
    .tab-container {
      width: 90%; /* Increase width on smaller screens */
    }
    
    .tabs {
      display: grid;
      grid-template-columns: 1fr 1fr; /* Display two tabs per row */
    }
  
    .tab-button {
      flex: none; /* Reset flex behavior */
      text-align: center; /* Center align text */
      padding: 12px;
    }
  }
  